<!DOCTYPE html>
<html>

<%- include('./partials/head.ejs') -%>
<head>
    <link rel="stylesheet" href="./public/css/style.css">
    <style>
        .grille {
            width: auto;
            height: 500px;
            margin: 100px;
            /*border: 1px solid #333;*/
            display: grid;
            grid-template-columns: repeat(auto-fill, 1000px);
            justify-content: center;
            grid-gap: 75px;
        }

        .grid-item {
            width: auto;
            height: auto;
            background: white;
            text-align: center;
        }
        .p {
            background-color: white;
            text-align: center;
            width: 100%;
            border-bottom: solid 1px black;
            border-left: solid 1px black;
            border-right: solid 1px black;
            padding: 7px;
        }
        .hero {
            background-color: #000000;
            background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/6984581.jpg');
            background-position: center;
            background-size: cover;
            color: #ffffff;
            padding: 1em;
            text-align: center;
        }
        #product_img {
            width: 100%;
            height: 700px;
            border: solid 1px black;
        }
        #reservation{
            width: 100%;
        }
    </style>
</head>
<body>

<%- include('./partials/nav.ejs') -%>

<!--<%- title -%>-->
<div class="hero">
    <br>
    <h1>Exhibitions</h1>
    <p>Come and discover talented artists by reserving your place for one or more exhibitions !</p>
    <br>
</div>
<% if (sessionusr !== 0) { %>
    <% if (sessionusr.roles === 'admin') { %>
        <p style="margin-top: 30px; text-align: center;">Create a new exhibition <a href="/create-exhibition">Create</a></p>
    <% } %>
<% } %>

<div class="grille">
    <% for (const exhibition of data) { %>
    <div class="grid-item">
        <p style="border: 1px solid black; margin: 0; font-size: 24px; font-weight: bold; padding: 10px;"><%- exhibition.name -%> by <%- exhibition.artist -%> | <%= moment(exhibition.date).format('Do MMMM, YYYY')  %></p>
        <a href="/exhibitions/<%- exhibition.exhibitionId -%>"><img id="product_img" src="/uploads/<%- exhibition.picture -%>"/></a>
        <a id="reservation" href="/exhibitions/<%- exhibition.exhibitionId -%>" style="background-color: #2e3e50; color: white; padding: 20px 445px;">Online booking</a>
    <% if (sessionusr !== 0) { %>
            <% if (sessionusr.roles === 'admin') { %>
                <p style="margin-top: 30px;">Edit exhibition <a href="/edit-exhibition/<%- exhibition.exhibitionId -%>">Edit</a></p>
                <form action="/exhibitions/delete/<%- exhibition.exhibitionId -%>" method="POST">
                    <button type="submit" class="btn btn-dark btn-block" style="background-color: red; margin-bottom: 50px; width: 100px; margin-right: auto; margin-left: auto;">Delete</button>
                </form>
            <% } %>
        <% } %>
    </div>
    <% } %>
</div>
<div style="height: 300px;">

</div>

</body>
<!--<%- include('./partials/footer.ejs') -%>-->
</html>